body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

form {
  margin-bottom: 2em;
}

.container {
  margin-bottom: 2em;
}

.readings-container {
  border: 1px solid #2d2d2d;
  padding: 0.7em;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #ed1b2e;
}

label {
  display: block;
}

.logo {
  width: 30px;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  margin: 0 0 2em 0;
  padding: 1em;
}

nav {
  display: flex;
  color: #2d2d2d;
  font-size: 14px;
  gap: 1em;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #2d2d2d;
}

h2 {
  margin: 0;
  padding: 0.3em;
  text-align: center;
  background-color: #ed1b2e;
  color: #fff;
  border-radius: 5px;
}

button {
  display: block;
}


th {
  border: 1px solid blue;
}

select {
  border-color: red;
  border-radius: 5px;
}