body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

form {
  margin-bottom: 2em;
}

.container {
  margin: 0.7em;
  background-color: #f1ced4;
  border-radius: 10px;

}

.readings-container {
  padding: 0.7em;
  border-radius: 10px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #aa1945;
}

label {
  display: block;
}

.logo {
  width: 30px;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  margin: 0 0 2em 0;
  padding: 1em;
}

nav {
  display: flex;
  color: #2d2d2d;
  font-size: 14px;
  gap: 1em;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #2d2d2d;
}

h2 {
  margin: 0;
  padding: 0.3em;
  text-align: center;
  background-color: #aa1945;
  color: #fff;
  border-radius: 10px;
}

button {
  display: block;
}

tr .testt {
  display: flex;
  justify-content: space-between;
}

th {
  background-color: #391306;
  color: #fff;
  padding: 0.5em;
}

td {
 background-color: #fff;
 width: 30%;
 padding: 0.7em;

}

select {
  border-color: red;
  border-radius: 5px;
}